server:
  port: 8888

spring:
  application:
    name: config-server
  profiles:
    active: native
# Указать путь к папке с конфигами в корне проекта
  cloud:
    config:
      server:
        native:
          search-locations: file:/home/alexeyleping/IdeaProjects/FoodCloud/config-repo
